* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

#matrix-drops {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92rem;
    z-index: -1;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92rem;
}

h1 {
    font-size: 3.6rem;
    color: white;
}