:root {
    --retro-black: #121212;
    --retro-white: #e5e5e5;

    --matrix-green: #0F0;
    
    --primary-btn-background: #0F0;
    --primary-btn-hover: #04D300;
    --primary-btn-shadow: #007700;
    
    --clear-btn-background: #e76e55;
    --clear-btn-hover: #ce372b;
    --clear-btn-shadow: #8c2022;

    --button-edge-gray: #303030;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--retro-black);
    color: var(--retro-white);
}

.inner-wrapper {
    padding: 0 5rem;
}