:root {
    --matrix-green: #0F0;
    --retro-black: #121212;
    --retro-white: #e5e5e5;
    --retro-gray: #303030;

    --economy-green: #00ff00;
    --standard-blue: #00ffff;
    --luxury-gold: #ffd700;

    --submit-btn-background: #1f4d1f;
    --submit-btn-hover: #173717;
    --submit-btn-shadow: #0b250b;
    
    --clear-btn-background: #5a0c0c;
    --clear-btn-hover: #4a0a0a;
    --clear-btn-shadow: #2b0505;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--retro-black);
    color: var(--retro-white);
}

input {
    all: unset;
}

.inner-wrapper {
    padding: 2rem 5rem;
}