/* #hero section */
#matrix-drops {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92rem;
    z-index: -100;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92rem;
}

.welcome-sequence {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-shadow: 2px 2px 4px rgba(18, 18, 18, 0.7);
}

.welcome-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
    font-size: 3.5rem;
}

.welcome-text:nth-child(1) { animation-delay: 0.5s; }
.welcome-text:nth-child(2) { animation-delay: 2s; }
.welcome-text:nth-child(3) { animation-delay: 3.5s; }
.welcome-text:nth-child(4) { animation-delay: 5s; }
.welcome-text:nth-child(5) { animation-delay: 6.5s; }
.hotel-name { 
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
    animation-delay: 8s;
    font-size: 7rem;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* #room-info section */
.rooms-container {
    position: relative;
    width: 100%;
    height: 92rem;
    overflow: hidden;
}

.room {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.room.active {
    opacity: 1;
}

#economy-room {
    background-image: url('../images/economy.png');
}

#standard-room {
    background-image: url('../images/standard.png');
}

#luxury-room {
    background-image: url('../images/luxury.png');
}

.room-text {
    position: absolute;
    left: 5rem;
    bottom: 3rem;
    font-size: 6rem;
}

.economy-room-text {
    color: var(--retro-white);
    text-shadow: 0 0 15px var(--economy-green), 0 0 25px var(--economy-green), 2px 2px 4px rgba(0, 0, 0, 0.9);
 }
 
 .standard-room-text {
    color: var(--retro-white);
    text-shadow: 0 0 15px var(--standard-blue), 0 0 25px var(--standard-blue), 2px 2px 4px rgba(0, 0, 0, 0.9);
 }
 
 .luxury-room-text {
    color: var(--retro-white);
    text-shadow: 0 0 15px var(--luxury-gold), 0 0 25px var(--luxury-gold), 2px 2px 4px rgba(0, 0, 0, 0.9);
 }

/* .special-offer */
.special-offer {
    background-color: var(--matrix-green);
    color: var(--retro-black);
}

.special-offer-text {
    font-size: 2.5rem;
}

/* #booking section */
#booking {
    background-color: var(--retro-white);
    color: var(--retro-black);
}

.booking-grid {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 2rem;
}

.calendar-container, .booking-form-container {
    width: 100%;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.weekday, .calendar-day {
    border-right: 1.5px solid var(--retro-black);
    border-bottom: 1.5px solid var(--retro-black);
}

.calendar-day {
    padding: 1rem;
}

.available {
    color: var(--room-available);
}

.booked {
    color: var(--room-occupied);
}

.success-message {
    color: forestgreen;
}

.error-message {
    color: firebrick;
}

.booker {
    display: flex;
    flex-direction: column;
}

/* Retro buttons */
.button-container {
    display: flex;
    gap: 1rem;
}

.eight-bit-btn {
    position: relative;
    padding: 1rem 2rem;
    font-family: "Press Start 2P", system-ui;
    color: var(--retro-black);
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.eight-bit-btn:hover {
    cursor: pointer;
}

.eight-bit-btn::after, .eight-bit-btn::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--retro-black);
}

.eight-bit-btn::after {
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
}

.eight-bit-btn::before {
    left: 0;
    top: -7%;
    width: 100%;
    height: 115%;
}

.btn-primary {
    background-color: var(--primary-btn-background);
    box-shadow: inset -3px -3px 0px 0px var(--primary-btn-shadow);
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover);
    box-shadow: inset -5px -5px 0px 0px var(--primary-btn-shadow);
}

.btn-primary:active {
    box-shadow: inset 3px 3px 0px 0px var(--primary-btn-shadow);
}

.btn-clear {
    background-color: var(--clear-btn-background);
    box-shadow: inset -3px -3px 0px 0px var(--clear-btn-shadow);
}

.btn-clear:hover {
    cursor: pointer;
    background-color: var(--clear-btn-hover);
    box-shadow: inset -5px -5px 0px 0px var(--clear-btn-shadow);
}

.btn-clear:active {
    box-shadow: inset 3px 3px 0px 0px var(--clear-btn-shadow);
}