/* #hero section */
#matrix-drops {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92rem;
    z-index: -100;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92rem;
}

h1 {
    font-size: 3.6rem;
    color: var(--retro-white);
}

/* #room-info section */
.rooms-container {
    display: flex;
}

img {
    width: 50%;
    height: auto;
}

/* .special-offer */

.special-offer {
    background-color: var(--matrix-green);
    color: var(--retro-black);
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}

/* #booking section */
#booking {
    background-color: var(--retro-white);
    color: var(--retro-black);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    max-width: 100rem;
}

.calendar-day {
    padding: 1rem;
}

.available {
    color: #006400;
}

.booked {
    color: #8B0000;
}

.success-message {
    color: forestgreen;
}

.error-message {
    color: firebrick;
}

/* Retro buttons */
.button-container {
    display: flex;
    gap: 1rem;
}

.eight-bit-btn {
    position: relative;
    padding: 1rem 2rem;
    font-family: "Press Start 2P", system-ui;
    color: var(--retro-black);
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.eight-bit-btn:hover {
    cursor: pointer;
}

.eight-bit-btn::after, .eight-bit-btn::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--retro-black);
}

.eight-bit-btn::after {
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
}

.eight-bit-btn::before {
    left: 0;
    top: -7%;
    width: 100%;
    height: 115%;
}

.btn-primary {
    background-color: var(--primary-btn-background);
    box-shadow: inset -3px -3px 0px 0px var(--primary-btn-shadow);
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover);
    box-shadow: inset -5px -5px 0px 0px var(--primary-btn-shadow);
}

.btn-primary:active {
    box-shadow: inset 3px 3px 0px 0px var(--primary-btn-shadow);
}

.btn-clear {
    background-color: var(--clear-btn-background);
    box-shadow: inset -3px -3px 0px 0px var(--clear-btn-shadow);
}

.btn-clear:hover {
    cursor: pointer;
    background-color: var(--clear-btn-hover);
    box-shadow: inset -5px -5px 0px 0px var(--clear-btn-shadow);
}

.btn-clear:active {
    box-shadow: inset 3px 3px 0px 0px var(--clear-btn-shadow);
}